/* CSS Utility */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    /* font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal; */
    font-family: "Tinos", serif;
    font-weight: 400;
    font-style: normal;
}

:root {
    --principal-color: #ffffff;
    --secondari-color: #18181b;
    --acsent-color: #1f2937;
    --acsent-color2: #4B3621;
}

body {
    overflow-x: hidden;
}

.active {
    border-bottom: 1px solid var(--acsent-color2);
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
    border-radius: 10px;
    padding: 8px 25px;
}

.btn_primari {
    background-color: var(--principal-color);
    border: 1px solid var(--acsent-color2);
    color: var(--acsent-color);
}

.btn_secondari {
    width: fit-content;
    border: 1px solid var(--acsent-color2);
    color: var(--principal-color);
}


/* CSS Navbar */
header {
    position: fixed;
    width: 100%;
    padding: 0 15px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0);
    border-radius: 0px 0px 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15.1px);
    -webkit-backdrop-filter: blur(15.1px);

    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.402);
}

.container {
    max-width: 1248px;
    margin: 0 auto;
    width: 100%;
}

nav {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--principal-color);
}

.logo  {
    font-size: 1.3rem;
    
}

.logo::first-letter{
    font-size: 2rem;
    color: var(--acsent-color2);
    letter-spacing: -2px;
}

.nav_menu > .nav_ico {
    display: flex;
    gap: 30px;
}

.nav_menu > .nav_ico > li {
    display: inline-block;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all 0.4s;
}

.nav_menu > .nav_ico > li:hover {
    border-bottom: 1px solid #4b36217a;
}

/* Hero section */
.hero {
    background-color: black;
    background-image: url(./assets/image/hero_bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    min-height: 100dvh; /* Altezza dinamica del viewport */
}

.layer {
    /* background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.7765231092436975) 50%, rgba(0,0,0,0) 100%); */
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    color: var(--principal-color);
}

.hero_txt {
    padding: 0 100px;
}

.hero_txt > h1 {
    font-size: 4rem;
}

.hamburger{
    display: none;
}

.hero_txt > span {
    display: inline-block;
    margin-top: 50px;
    line-height: 40px;
    font-size: 1.2rem;
}

.hero_btn {
    margin-top: 100px;
    padding: 0 100px;
    display: flex;
    gap: 50px;
}

/* CTA section */
.cta {
    padding: 400px 100px;
}

.cta_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 150px;    
}

.cta_grid > div:last-child {
    grid-column: span 2; /* Occupa entrambe le colonne */
}

.cta h2 {
    font-size: 2.5rem;
    margin-bottom: 40px;
}

.cta p {
    font-size: 1.3rem;
    line-height: 25px;
}

.cta div:last-child>p{
    font-size: 1.5rem;
    line-height: 25px;
}

/* Skils Section */
.skils {
    padding: 400px 100px;
    background-color: var(--secondari-color);
    color: var(--principal-color);
}

.skils > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.skils_title {
    font-size: 2.5rem;
}

.skils_grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

.skils_card {
    text-align: center;
}

.skils_card > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
    transform: translateX(-16px);
}

.skils_card svg{
    width: 2rem;
    height: 2rem;
    color: var(--acsent-color2);
}


.skils_card h3 {
    font-size: 1.5rem;
}

.skils_card > p {
    line-height: 24px;
    grid-column: span 2; /* Occupa entrambe le colonne */
    color: #a3a3a3;
}

/* Footer section */
footer {
    padding: 300px 0;
    background-color: var(--acsent-color);
    color: var(--principal-color);
}

footer > .container {
    display: flex;
    flex-direction: column;

}

.footer_section {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--acsent-color2);
}

.footer_section h3 {
    margin-bottom: 20px;
}

.footer_section ul {
    list-style: none;
}

.footer_section .social ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer_section .social ul svg {
    transition: 0.4s;
}

.footer_section .social ul svg:hover {
    stroke: var(--acsent-color2);
}

.footer_section li {
    margin-bottom: 7px;
}

.footer_section a {
    transition: 0.4s;
    border-bottom: 1px solid transparent;
}

.footer_section a:hover {
    /* color: var(--acsent-color2); */
    border-bottom: 2px solid var(--acsent-color2);
}


.footer_copy {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 30px;
}


@media (max-width: 1260px) {
    .hero {
        background-position: -700px 0;
    }

    .skils {
        padding: 200px 50px;
    }

    footer {
        padding: 100px 50px;
    }
}

@media (max-width: 915px) {
    .hero_txt > h1 {
        font-size: 3rem;
    }

    .cta_grid {
        gap: 50px ;    
    }
}

@media (max-width: 768px) {
    .nav_menu {
        display: none;
    }

    .hamburger{
        display: contents;
    }

    .hamburger svg {
        stroke: var(--acsent-color2);

    }

    .layer {
        align-items: center;
    }

    .hero_txt {
        padding: 0 25px;
    }

    .hero_txt h1{
        font-size: 2.3rem;
    }

    .hero_txt > span {
        font-size: 1rem;
    }

    .hero_btn {
        margin-top: 100px;
        padding: 0 5px;
        display: flex;
        gap: 50px;
        font-size: 0.8rem;
    }

    .hero_btn > .btn {
        padding: 8px 10px;
    }

    .cta {
        padding: 250px 50px;
    }

    .cta_grid {
        grid-template-columns: 1fr;
    }
    
    .cta_grid > div:last-child {
        grid-column: span 1;
    }

    .cta h2 {
        font-size: 1.8rem;
        margin-bottom: 40px;
    }
    
    .cta p {
        font-size: 1rem;
        line-height: 25px;
    }
    
    .cta div:last-child>p{
        font-size: 1.3rem;
        line-height: 25px;
    }

    .skils_title {
        font-size: 1.8rem;
    }

    .skils_grid, .footer_section {
        
        justify-content: center;
        align-items: center;
        text-align: center;
        grid-template-columns: repeat(2, 1fr);
        gap: 150px 50px;
    }

    .footer_section .social ul {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .cta, .skils {
        padding: auto 20px;
    }
}

@media (max-width: 430px) {
    .hero_txt h1{
        font-size: 1.6rem;
    }

    .hero_txt span{
        line-height: 20px;
    }

    .hero_btn {
        gap: 10px;
    }

    .cta h2 {
        font-size: 1.3rem;
        margin-bottom: 40px;
    }
    
    .cta p {
        font-size: 0.8rem;
        line-height: 20px;
    }
    
    .cta div:last-child>p{
        font-size: 1rem;
        line-height: 20px;
    }

    .skils_title {
        font-size: 1.5rem;
    }

    .skils_title {
        font-size: 1.3rem;
    }

    .skils_grid, .footer_section {
        grid-template-columns: repeat(1, 1fr);
        gap: 100px;
    }
}